 
  * {
    box-sizing: border-box;
  }
  html {
      margin: 0;
      padding: 0;
}
 
.background{
    background-image: url(../IMAGENS/patinhas.jpg);
    width: 100%;
    height: 30vh;
}
section {
    background-color: #454545;
    width: 100%;
    float: auto;
}
h3{
    padding-right: 12rem;
    padding-left: 2rem;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 30px;
    font-weight: bold ;
	font-family: cursive;
    color: darkorange;
    background-color: #454545;
}
h4{
    border-top: 0;
    padding-top:0;
    font-size: 30px;
    color: #454545;
    padding-top: 6px;
    text-align: center;
    padding-left: 20px;
    font-family:cursive;
}
p{
    margin: 0%;
    font-size: 13px;
    color: black;
    width: 55%;
    padding-left: 35px;
    padding-right:8px;
    padding-top: 20px;
    padding-bottom:0px;
    text-align: center;
    float: auto;
}
h2{
    border-top: 0;
    padding-top:0;
    font-size: 28px;
    color: #454545;
    padding-top: 10px;
    text-align: center;
    padding-left: 20px;
    font-family:cursive;
}
.abrigos {
    margin-top: 2.5%;
    margin-bottom: 0;
    margin-left: 2.45%;
    padding-top: 0;
    padding-right: 2rem;
    padding-bottom: 0;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    float: left;
    width: 30%;
    background-color: blanchedalmond;
    background-position: center;
}
.abrigos h4{
    margin-top: 1rem;
}
.abrigos p{
    margin-left: 6rem;
    line-height: 18px;
}
.aviso h2{
    margin-top: 2.5%;
    margin-bottom: 0;
    margin-left: 2.45%;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    float: left;
    width: 30%;
    line-height: 42px;
    background-color: darkorange;
    background-position: center;
}
h6{
    font-size: 15px;
    color: white;
    padding-left: 10px;
    font-family:cursive;
    padding-right:3px;
    padding-top: 2.5px;
    padding-bottom:2.5px;
    text-align: center;
    width: 300px;
    background-color:#454545;
    margin-left: auto;
    margin-top: 2rem;
    margin-right: auto;
    margin-bottom: 2rem;
    
  }
a{
    padding: 0.4rem;
    width: 200px;
    text-align: center;
    background-color: #454545;
    font-size: 15px;
    font-family: cursive;
    color: white;
    text-decoration: none;
    margin: 0 auto;
    border: solid;
    border-color: darkorange;
}
nav ul{
    list-style-type: none;
}
.paginacaozinho h3{
    width: 100%;
    text-align: center;
    padding-right: 10rem;
    padding-left: 8rem;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size:30px;
    font-weight:bold;
	font-family:cursive;
    color: darkorange;
    background-color: #454545;
}
.historico p {
    width: 50%;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 2rem;
    margin-bottom: 0%;
    font-size: 20px;
    font-family:cursive;
    color: white;
    padding-left: 20px;
    padding-right:60px;
    padding-top: 30px;
    padding-bottom:30px;
    text-align: justify;
    float: right;
    line-height:33px;
 }
 .visita p {
    width: 50%;
    margin: 0%;
    font-size: 25px;
    font-family: cursive;
    color: darkorange;
    padding-top: 1px;
    padding-left: 20px;
    padding-bottom: 0%;
    padding-right:30px;
    padding-bottom:100px;
    text-align: center;    
     
 }
 h5{
    width: 50%;
    margin: 0%;
    font-size: 25px;
    font-family: cursive;
    color: darkorange;
    padding-top: 5PX;
    padding-left: 20px;
    padding-bottom: 0%;
    padding-right:60px;
    padding-top: 5px;
    padding-bottom:20px;
    text-align: center;
 }
 section label, input, select {
    width: 55%;
    height: 50%;
 }
 .dados {
    border: 0;
    width: 55%;
    margin: 2%;
    padding-top: 50px;
    padding: 0%;
 }
 .dados label {
    font-size: 23px;
    font-family: cursive;
 }
 .dados input, select {
    font-size: 15px;
    font-family: cursive;
 }
 .dados label,input, select{
    margin: 0%;
    margin-left: 6rem;
    padding: 0%;
    width: 55%;
    color: darkorange;
 }
 .agradecimento h5 {
    padding-top: 5rem;
    margin-left: 8rem;
    text-align: center;
    font-size: 22px;
     
   
 }
 .mensagem2 p{
    padding-left: 5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-bottom: 1rem;
    font-family: cursive;
    font-size: 20px;
    color:white;
    text-align: center;
    line-height: 32px;
 }
.enviar{
    padding-top: 2rem;
    width: 250px;
    text-align: center;
    padding-left: 90px;
    margin-left: 70px;
}    
#grafico{
    background-color: darkorange;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 0;
    margin-left: 65rem;
    margin-right: 8rem;
    float: auto;
    
}   
#grafico h2{
    font-size: 22px;
}
 #grafico {
    font-size: 35px;
    text-align: center;
    font-family: cursive;
    color: #454545;
    margin-left: auto;
    float: auto;
    
 }
 #grafico p{
    margin-left: 2rem;
    margin-top: 1rem;
    padding-top: 1rem;
 }
 .background p{
    font-size: 20px;
    margin-right: 2rem;
    padding-top: 2rem;
 }
.background h1{
    font-size: 53px;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-bottom: .5rem;
    line-height: 3.5rem;
}
.background h2{
    color: white;
    margin-top: 0;
    padding-top: 0;
    padding-right: 2rem;
    line-height: 2rem;
}

.abrigos img{
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-left: 2.5rem;
}

.rodape {
    margin-top: 0;
    background-color: #454545;
    width: 100%;
    font-family: cursive; 
}

.rodape p {
    font-size: 18px;
    width: 80%;
    margin-left: 3rem;
    padding-left: 9rem;
    color: white;
    padding-top: 0;
    margin-top: 0;
    padding-bottom:.5rem;
    line-height: 1.5rem;
    margin-right: 0;     
    text-align: left;
}
.rodape h1{
    margin-top: .5rem;
    margin-left: 18rem;
    margin-bottom: 0;
    padding-top: .5rem;
    width: 20%;
    line-height: 2rem;
    color: darkorange;
    font-size: 35px;
    text-align: left;
    float: left;
}
    
     
   
    
   
    
}
.produtos{
    margin-top: 2.45%;
    margin-bottom: 0;
    margin-left: 2.25%;
    padding-top: 0;
    padding-right: 3rem;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 5px;
    font-weight: bold;
    float: left;
    width: 30%;
    background-color: blanchedalmond;
    background-position: center;
}
.produtos h4{
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    padding-bottom: 0;   
}    
.produtos p{
    width: 60%;
    margin-top: 0;
    margin-left: auto;
    text-align: center;
    margin-bottom: 1rem;
    margin-right: 4.5rem;
    float: auto;
}
.produtos img{
    margin-top: .2rem;
    margin-left: 2rem;
    width: 100%;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 1rem;
}
.produtos nav a{
    width: 100%;
    margin-left: auto;
    margin-top: 3rem;
    float: auto;
    text-align: center;
    padding: 0.2rem;
    font-size: 14px;  
}
.foto img{
    width: 100%;
    margin-left: 0rem;
   float: left;
    

}
